rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /images/{docId} {
      allow read, create, update: if request.auth != null;
      allow delete: if request.auth.uid == resource.data.userId || request.auth.uid == 'A3m12d38kvMVqQrijpvcEiBLRkx1';
    }
  }
}